body {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 200px;
    background-color: $fill-canvas;

    .hero-bg {
      position: absolute;
      background-color: $fill-canvas-dark;
      height: 85vh;
      width: 100%;
    }
  }