body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    background-color: $fill-canvas;
  }