#studiesWrapper {
    background-color: $fill-canvas;
    transform: translateY(-50px);

    .caseStudies {
        @include flex();
        gap: 16rem;
        margin-top: -14rem;
    
        .study {
            width: 100%;
            height: auto;
    
            ._thumbnail {
                height: 56rem;
                width: 100%;
                border-radius: 1.2rem;
                background: $fill-surface;
                box-shadow: 0px 12px 20px -20px rgba(31,31,31,1);
            }
    
            .info {
                @include flex();
                
                ._name {
                    width: 100%;
                    padding: 2.4rem;
                    border-bottom: 1px solid $fill-border;
                }
    
                ._category {
                    padding: 2.4rem;
                }
            }
        }
    }
}
