.hero-bg {
    position: absolute;
    background-color: $fill-canvas-dark;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#heroWrapper {
    pointer-events: none;

    ._info {
        @include flex($align-i: center);
        gap: 60px;
        height: 85vh;
        pointer-events: none;
    
        h1 {
            text-align: center;
            pointer-events: none;
        }
    
        p {
            width: 100%;
            max-width: 73.5rem;
        }
    
    }
}