// Global Navigation
#mainNav {
    @include flex($dir: col, $just: flex-start, $align-i: center);
    height: 104px;
    justify-content: space-between;
    grid-column: span 3;

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: cneter;
    }

    .navItems {
        height: 100%;
        @include flex($dir: col, $just: flex-start, $align-i: center);
    }

}