// Global Navigation
#navWrapper{
    position: fixed;
    width: 100%;
    z-index: 1000;

    .mainNav {
        @include flex($dir: col, $just: flex-start, $align-i: center);
        height: 10.4rem;
        top: 0;
        justify-content: space-between;
        grid-column: span 3;
    
        ._logo {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: cneter;
        }
    
        ._navItems {
            height: 100%;
            @include flex($dir: col, $just: flex-start, $align-i: center);
        }
    
    }
}
